<h4>Internal server error - refresh the page to make error disappear!</h4>
<ng-container *ngIf="error">
    <h5 style="background: red;">Error: {{error.message}}</h5>
    <p class="font-weight-bold">NOTE: if you are seeing this than probably angular is not to blame</p>
    <p>what to do next?</p>
    <ol>
        <li>Open dev tool then check the failing request in the network tab!</li>
        <li>Examine the request url - what API endpoint being requested?</li>
        <li>Reproduce the prob in Postman - if got the same error then angular is not the prob</li>
    </ol>
    <p style="font-weight: bold;">Below is the stack trace - first few lines will tell which line of code caused the issue in API</p>
    <code class="mt-5" style="background: rgb(251, 255, 0);">
    {{error.details}}
    </code>
</ng-container>