<ng-container>
    <div>
        <h2 class="text-center">Be sincere yet decisive</h2>
        <hr>
        <!-- <p>Hustle while you wait!</p>
        <p>Keep a sense of humor!</p>
        <p>Do not fear mistakes-fear only the absense of creative, constructive,
            and corrective response to those mistakes.</p>
        <div class="text-center">
            <button class="btn btn-outline-warning" type="button" routerLink="/">Cancel</button>
        </div> -->
    </div>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Hustle while you wait!</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Here">Here</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Keep a sense of humor!</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Here">Here</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Do not fear mistakes-fear only the absense of creative, constructive,
                and corrective response to those mistakes.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Here">Here</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">Hustle while you wait!</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Here">Here</cite>
        </figcaption>
    </figure>

    <div class="text-center">
        <button class="btn btn-outline-warning" type="button" routerLink="/">Cancel</button>
    </div>
</ng-container>